.popup__name {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: #000;
  border: none;
  border-bottom: 1px solid #000;
  width: 90%;
  margin-bottom: 35px;
}

@media screen and (max-width: 320px) {
  .popup__name {
    width: 90%;
  }
}