.popup__close-button {
  max-width: 32px;
  max-height: 32px;
  position: absolute;
  right: 195px;
  top: 155px;
  cursor: pointer;
}

.popup__close-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 320px) {
  .popup__close-button {
    width: 20px;
    height: 20px;
    top: 125px;
    right: 19px;
  }
}